WORKDIR = "." #Дирректория куда сохраняется отчет
MAX_SYMBOLS = 4000 #Максимальное количество символов в отчете
MAX_ITERATIONS = 5 #Максимальное количество итераций, то есть сколько раз будет проанализирован текст на дополнительные вопросы
